*.DS_Store
*__pycache__
*wandb/*
*.gz
**/__pycache__/*
__pycache__/
**/__pycache__/**

# build
LKH-3.0.7/**
dist/**
data4co.egg-info/**
build/**

# C extensions
*.so
data4co/solver/tsp/pyconcorde/build/**
data4co/solver/mis/KaMIS/**
dataset/**
data4co/solver/tsp/pyconcorde/concorde/_concorde.c

# tmp
tmp/**
tmp.py
repos/**

# coverage
coverage.xml
.coverage

# tests/solver_test
tests/solver_test/mis_test/**
tests/solver_test/tsp50_test_small/**

# tests/draw_test
tests/draw_test/mis_example/preprocessed/**
tests/draw_test/mis_example/solve/**
tests/draw_test/mis_problem.png
tests/draw_test/mis_solution.png
tests/draw_test/eil101_solution.png
tests/draw_test/eil101_problem.png