# pycache
*.DS_Store
*__pycache__
**/__pycache__/*
__pycache__/
**/__pycache__/**

# .zip or .gz
*.zip
*.gz

# build
LKH-3.0.7.tgz
LKH-3.0.7/**
dist/**
ml4co_kit.egg-info/**
build/**
ml4co_kit/solver/cvrp/hgs/source/cvrp_hgs_solver

# C extensions
*.pyd
*.so
*.o
ml4co_kit/solver/tsp/pyconcorde/build/**
ml4co_kit/solver/mis/KaMIS/**
ml4co_kit/solver/tsp/pyconcorde/concorde/_concorde.c
ml4co_kit/solver/tsp/c_ga_eax_large/ga_eax_large_solver
ml4co_kit/solver/tsp/c_ga_eax_normal/ga_eax_normal_solver
ml4co_kit/solver/cvrp/c_hgs/cvrp_hgs_solver

# datasets
dataset/**
data/**

# tmp
tmp/**
tmp.py
repos/**
ml4co_kit/solver/cvrp/c_hgs/tmp/**
ml4co_kit/solver/tsp/c_ga_eax_large/tmp/**
ml4co_kit/solver/tsp/c_ga_eax_normal/tmp/**

# coverage
coverage.xml
.coverage

# tests/solver_test
tests/solver_test/tsp50_test_small/**
tests/solver_test/mis_test/**
tests/solver_test/cvrp50_test/**

# tests/draw_test
tests/draw_test/mis_example/preprocessed/**
tests/draw_test/mis_example/solve/**
tests/draw_test/mis_problem.png
tests/draw_test/mis_solution.png
tests/draw_test/eil101_solution.png
tests/draw_test/eil101_problem.png
tests/draw_test/cvrp_solution.png
tests/draw_test/cvrp_problem.png
