# pycache
*.DS_Store
*__pycache__
**/__pycache__/*
__pycache__/
**/__pycache__/**

# .zip or .gz
*.zip
*.gz

# build
LKH-3.0.7.tgz
LKH-3.0.7/**
dist/**
ml4co_kit.egg-info/**
build/**

# C extensions
*.pyd
*.so
ml4co_kit/solver/tsp/pyconcorde/build/**
ml4co_kit/solver/mis/KaMIS/**
ml4co_kit/solver/tsp/pyconcorde/concorde/_concorde.c

# datasets
dataset/**

# tmp
tmp/**
tmp.py
repos/**

# coverage
coverage.xml
.coverage

# tests/solver_test
tests/solver_test/mis_test/**
tests/solver_test/tsp50_test_small/**

# tests/draw_test
tests/draw_test/mis_example/preprocessed/**
tests/draw_test/mis_example/solve/**
tests/draw_test/mis_problem.png
tests/draw_test/mis_solution.png
tests/draw_test/eil101_solution.png
tests/draw_test/eil101_problem.png